@tailwind base;
@tailwind utilities;
@tailwind components;

#background{
    width: 100%;
    height: 100%;
}

#search{
    width: 50%;
}
#card:hover{
    background: '#2B5DA7';
    color: '#FFFFFF'  
}